__marimo__/
concettiComputerVision/
Images/
image_outputs/
test_outputs/
Archive/
output_hugh_jackman_detection/
output_lapress_hugh_jackman_detection/
venv/
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
.env
*.log
output_lapress_hugh_jackman_detection_cnn/
layouts/
cuda_docker_test/Dockerfile
cuda_docker_test/intensive_test.py
cuda_docker_test/test_face_recognition.py
cuda_docker_test/test_image.jpg
