concettiComputerVision/
image_outputs/
Images/Archive/
Images/Uncleaned Data/
test_outputs/
Archive/
notebooks/data/extracted_faces/
output_hugh_jackman_detection/
output_lapress_hugh_jackman_detection/
venv/
logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
.env
*.log
output_lapress_hugh_jackman_detection_cnn/
cuda_docker_test/Dockerfile
cuda_docker_test/intensive_test.py
cuda_docker_test/test_face_recognition.py
cuda_docker_test/test_image.jpg
/.streamlit/
